.home {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 56px);
  overflow: hidden;
}
.home-text {
  margin-top: 160px;
  width: 500px;
}
.home-text h1 {
  font-weight: 700;
}
.home-text p {
  font-size: 28px;
}
